[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Command-line tool to count per-package methods in Android .dex files
[access "refs/*"]
	owner = group user/BinghuaQin (qinicy)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/BinghuaQin (qinicy)
	label-Verified = -1..+1 group user/BinghuaQin (qinicy)
	push = group user/BinghuaQin (qinicy)
	read = group user/BinghuaQin (qinicy)
	rebase = group user/BinghuaQin (qinicy)
	removeReviewer = group user/BinghuaQin (qinicy)
	submit = group user/BinghuaQin (qinicy)
[access "refs/heads/*"]
	create = group user/BinghuaQin (qinicy)
	push = +force group user/BinghuaQin (qinicy)
	pushMerge = group user/BinghuaQin (qinicy)
	read = group user/BinghuaQin (qinicy)
[access "refs/tags/*"]
	push = group user/BinghuaQin (qinicy)
	push = +force group user/BinghuaQin (qinicy)
